.main-header {
    background: #000;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.main-header-logo {
    width: 80px;
}

.main-menu {
    padding: 5px 0 0;
}

.main-menu-item {
    color: #fff;
    display: inline-block;
    font-size: 1.6rem;
    margin-right: 10px;

    > a {
        line-height: 36px;

        &:visited {
            color: #ddd;
        }
    }
}


@media (min-width: 1024px){
    .main-header {
        border-bottom: 0;
        border-right: 1px solid #ddd;
        padding: 20px;
    }

    .main-header-logo {
        width: 100%;
    }

    .main-menu {
        padding: 20px 0 0;
    }

    .main-menu-item {
        display: block;
        margin-right: 0;

        > a {
            line-height: 30px;
        }
    }
}