.product-list-item {

    + .product-list-item {
        border-top: 1px solid #ccc;
    }

    a {
        display: block;
        padding: 10px;

        &:after {
            clear: both;
            content: '';
            display: table;
        }
    }
}

.product-list-thumbnail {
    display: block;
    float: left;
    margin-right: 10px;
    width: 100px;
}