.inline-svg {
    display: none;
    height: 0;
    left: -9999px;
    position: absolute;
    visibility: hidden;
    width: 0;
}

.basket-content {
    background: #eee;
    border-top: 1px solid #ddd;
    clear: both;
}

.main-footer {
    background: #111;
    border-top: 1px solid #333;
    color: #fff;
}

@media (min-width: 1024px){
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .content {
        display: flex;
        flex: 1;
        flex-direction: row;
    }

    .main-header {
        width: 220px;
    }

    .body-content {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .main-content {
        flex: 1;
    }

    .related-content {
        background: #f8f8f8;
        height: 100px;
    }

    .basket-content {
        border-left: 1px solid #ddd;
        border-top: 0;
        width: 200px;
    }

    .main-footer {
        height: 50px;
    }
}