html {
    box-sizing: border-box;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol, li,
dl, dt, dd {
    border: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

input, button {
    font-family: inherit;
}

picture img {
    display: block;
    width: 100%;
}

svg path {
    fill: inherit;
}

a {
    color: inherit;
    display: block;
    text-decoration: none;

    &:focus, &:hover {
        text-decoration: underline;
    }
}