<div class="basket-content">
    {{#if basket}}
    <ul>
        {{#each basket}}
        <li><span class="icon-basket"></span> {{this.product.name}} ({{this.quantity}})</li>
        {{/each}}
    </ul>
    {{else}}
    <p>Your basket is empty</p>
    {{/if}}
</div>