<footer class="main-footer">
    <p class="main-footer-copyright">&copy; {{this_year}} Darazon</p>
    <ul class="main-footer-links">
        <li class="main-footer-link-item">
            <a href="https://github.com/fakedarren/shopping-cart-example">{{> svg 'github'}} <span>Github</span></a>
        </li>
        <li class="main-footer-link-item">
            <a href="https://uk.linkedin.com/pub/william-darren-waddell/62/2a7/127">{{> svg 'linkedin'}} <span>LinkedIn</span></a>
        </li>
        <li class="main-footer-link-item">
            <a href="https://twitter.com/fakedarren">{{> svg 'twitter'}} <span>Twitter</span></a>
        </li>
    </ul>
</footer>