<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>Shopping Cart</title>
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="content">
        {{> header}}
        {{{body}}}
    </div>
    {{> footer}}
</body>
<script src="/js/ui/components.js"></script>
</html>